body{
    width: 90%;
    margin: 5% auto;
    min-width: 700px;
}
header{
    margin-bottom: 1%;
    padding-bottom: 0;
}
hr{
    border-top: 2px solid black;
    margin: 0 0 5px;
    width: 100%;
}
article{
    width: 95%;
    margin: 0 auto;
    padding: 0;
    display: flex; 
    flex-wrap: wrap;
}
section{
    flex: 1;
    flex-basis: 100%;
    margin: 0 auto;
    padding-left: 1%;
    text-align: left;
}
footer{
    font-family: 'Vollkorn';
    padding: 0 0 0 4%;
    margin: 5% 0 0;
    text-align: left;
}
div{
    color: black;
    font-family: 'Vollkorn';
    font-weight: 100;
    font-size: large;
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 160%;
}
#heading{
    font-family: 'Rakkas', cursive;
    font-size: 43px;
    font-weight: 400;
    text-align: left;
    padding: 0 0 0 4%;
    margin-bottom: 0;
    position: relative;
    bottom: -20px;
    max-width: 1000px;
    min-width: 700px;
}
#quote{
    font-family: 'Vollkorn', sans-serif;
    font-style: italic;
    padding: 0 0;
    margin: 0 0 5% 4%;
    font-size: 22px;
    display: inline-block;
    max-width: 1000px;
    min-width: 400px;
}
.header{
    text-align: left;
    position: relative;
    width: 120%;
    top: 6px;
    padding: 0 25px 0 10px;
}
.smallheader{
    font-size: medium;
    text-align: left;
    padding: 0 25px 0 10px;
    margin-bottom: 10px;
}
a{
    color: black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 10px 10px 0;
    font-style: italic;
}
a:visited{
    color: black;
}
a:hover{
    color: white;
    background-color: black;
    transition: .2s ease-in-out;
}
a:active{
    color: black;
    background-color: white;
    transition: .1s ease-in-out;
}